<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.72.0">
    <title>Dashboard Template · Bootstrap</title>

    {{!--
    <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/dashboard/"> --}}



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <link href="css/admin.css" rel="stylesheet">

    <style>
    </style>
</head>

<body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Navigability</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <span data-feather="home"></span>
                                Schools
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin-blogs">
                                <span data-feather="file"></span>
                                Blogs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin-analytics">
                                <span data-feather="file"></span>
                                Analytics
                            </a>
                        </li>
                    </ul>

                </div>
            </nav>

            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                
                <h2>Blogs</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Category</th>
                                <th>Blog Post</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="blogs-table">
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <!-- Modal for User's details -->
    <div class="modal fade" id="add_school" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add School</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="float-label" id="add_school_form">

                        <div class="form-group">
                            <label for="name" class="float-label">Name:</label>
                            <input type="text" id="name" name="name" class="input-field">
                        </div>

                        <div class="form-group">
                            <label for="location" class="float-label">Location:</label>
                            <input type="text" id="location" name="location" class="input-field">
                        </div>

                        <div class="form-group">
                            <label for="email_form" class="float-label">Email:</label>
                            <input type="text" id="email_form" name="email_form" class="input-field">
                        </div>

                        <div class="form-group">
                            <label for="phone_form" class="float-label">Phone Number:</label>
                            <input type="text" id="phone_form" name="phone_form" class="input-field">
                        </div>
                        <div class="form-group">
                            <label for="Services" class="float-label">Services:</label>
                            <input type="text" id="Services" name="Services" class="input-field">
                        </div>
                        <div class="form-group">
                            <label for="website" class="float-label">Website:</label>
                            <input type="text" id="website" name="website" class="input-field">
                        </div>
                        <input class="btn btn-outline-dark ms-2" type="submit" value="Add School"></input>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark ms-2" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- End of the modal --}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"
        integrity="sha384-EbSscX4STvYAC/DxHse8z5gEDaNiKAIGW+EpfzYTfQrgIlHywXXrM9SUIZ0BlyfF"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
        integrity="sha384-i+dHPTzZw7YVZOx9lbH5l6lP74sLRtMtwN2XjVqjf3uAGAREAF4LMIUDTWEVs4LI"
        crossorigin="anonymous"></script>
    <script src="js/admin blogs.js"></script>
</body>

</html>