<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <title>NavigAbility | Schools</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/images/logo.jpg" alt="Website Logo" id="logo-img">
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/schools">Schools</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/AboutUs">About</a></li>
            <li id="login"><a href="/LogIn">Log In</a></li>
            <li id="logout"><a href="/logout">Logout</a></li>
        </ul>
    </header>
    <main>
        <section>
            <h2>Schools </h2>
            <div class="cards" id="school-section">

            </div>
        </section>

    </main>

    <footer>
        <p>&copy; 2024 - Shaileja Kumari Vaghela</p>
    </footer>

    <script src="js/functions.js"></script>
    <script src="js/schools.js"></script>
</body>

</html>