<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NavigAbility- Schools</title>
    <link rel="stylesheet" href="css/schools.css">
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    {{!-- <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
</head> --}}

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="images/logo.jpg" alt="Website Logo" id="logo-img">
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a class="active" href="/schools">Schools</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/AboutUs">About</a></li>
                <li id="login"><a href="/LogIn">Log In</a></li>
                <li id="logout"><a href="/logout">Logout</a></li>

            </ul>
        </nav>
    </header>

    <section class="schools-section" id="school-section">
        <h1>Schools </h1>
        <div class="school-card">
            <img src="images/Kenya.jpg" alt="School Image" class="school-image">
            <div class="school-info">
                <h2>School Name</h2>
                <p class="location">Location: City, Country</p>
                <p class="contacts">
                    <strong>Contact:</strong><br>
                    Phone: (123) 456-7890 <br>
                    Email: info@schoolname.com <br>
                    <a href="https://facebook.com/schoolname" target="_blank">Facebook</a>
                </p>
                <p class="services">
                    <strong>Services Offered:</strong> This school specializes in providing tailored education programs
                    for students with disabilities, including sensory integration, therapy sessions, and personalized
                    learning plans.
                </p>
                <a href="https://www.google.com/maps/dir/?api=1&destination=School+Location" target="_blank"
                    class="map-link">Get Directions on Google Maps</a>
            </div>
        </div>
        <div class="school-card">
            <img src="images/school1.jpg" alt="School Image" class="school-image">
            <div class="school-info">
                <h2>School Name</h2>
                <p class="location">Location: City, Country</p>
                <p class="contacts">
                    <strong>Contact:</strong><br>
                    Phone: (123) 456-7890 <br>
                    Email: info@schoolname.com <br>
                    <a href="https://facebook.com/schoolname" target="_blank">Facebook</a>
                </p>
                <p class="services">
                    <strong>Services Offered:</strong> This school specializes in providing tailored education programs
                    for students with disabilities, including sensory integration, therapy sessions, and personalized
                    learning plans.
                </p>
                <a href="https://www.google.com/maps/dir/?api=1&destination=School+Location" target="_blank"
                    class="map-link">Get Directions on Google Maps</a>
            </div>
        </div>
        <div class="school-card">
            <img src="images/school1.jpg" alt="School Image" class="school-image">
            <div class="school-info">
                <h2>School Name</h2>
                <p class="location">Location: City, Country</p>
                <p class="contacts">
                    <strong>Contact:</strong><br>
                    Phone: (123) 456-7890 <br>
                    Email: info@schoolname.com <br>
                    <a href="https://facebook.com/schoolname" target="_blank">Facebook</a>
                </p>
                <p class="services">
                    <strong>Services Offered:</strong> This school specializes in providing tailored education programs
                    for students with disabilities, including sensory integration, therapy sessions, and personalized
                    learning plans.
                </p>
                <a href="https://www.google.com/maps/dir/?api=1&destination=School+Location" target="_blank"
                    class="map-link">Get Directions on Google Maps</a>
            </div>
        </div>
        <div class="school-card">
            <img src="images/logo.jpg" alt="School Image" class="school-image">
            <div class="school-info">
                <h2>School Name</h2>
                <p class="location">Location: City, Country</p>
                <p class="contacts">
                    <strong>Contact:</strong><br>
                    Phone: (123) 456-7890 <br>
                    Email: info@schoolname.com <br>
                    <a href="https://facebook.com/schoolname" target="_blank">Facebook</a>
                </p>
                <p class="services">
                    <strong>Services Offered:</strong> This school specializes in providing tailored education programs
                    for students with disabilities, including sensory integration, therapy sessions, and personalized
                    learning plans.
                </p>
                <a href="https://www.google.com/maps/dir/?api=1&destination=School+Location" target="_blank"
                    class="map-link">Get Directions on Google Maps</a>
            </div>
        </div>

    </section>


    <footer class="call-to-action">
        <p>&copy; 2024 - Shaileja Kumari Vaghela</p>
    </footer>

    <script src="js/functions.js"></script>
    <script src="js/schools.js"></script>
</body>

</html>