
.contact-details {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    margin-top: 20px;
    gap: 20px;
}

.contact-method {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 7, 45, 1);
    width: 100%;
}

.contact-method h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.contact-method p {
    font-size: 16px;
    color: #777;
}

.contact-form {
    margin-top: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2575fc;
    background-color: #e0f0ff;
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #00072D;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #6a11cb;
}



/* Chatbot Styles */
.chatbot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    font-family: 'Georgia', sans-serif;
    margin-bottom: 30px;
}

#chatbot-toggle {
    background-color: #00072D;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

.chatbot-window {
    display: block;
    /* Make chatbot window visible by default */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 7, 45, 1);
    padding: 20px;
    max-height: 700px;
    overflow-y: auto;
}

.chatbot-messages {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;

}

.chatbot-messages p {
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 80%;
}

.chatbot-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Chatbot message styles */
.chatbot-messages .chatbot-response {
    background-color: #e6f0ff;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    color: #333;
    text-align: left;
    margin-right: auto;
}

/* User message styles */
.chatbot-messages .user-response {
    background-color: #d1e7ff;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    color: #003366;
    text-align: right;
    margin-left: auto;
}


@media screen and (max-width: 464px) {
    .contact-form bottom {
        margin-bottom: 50px;
    }
}