@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 36px;
    opacity: 0;
    /* Start invisible */
    animation: fadeInUp 1s ease-out forwards;
    /* Apply animation */
}

.contact-details {
    /* display: flex;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    margin-top: 20px;
    gap: 20px;
}

.contact-method {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 7, 45, 1);
    width: 100%;
}

.contact-method h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.contact-method p {
    font-size: 16px;
    color: #777;
}

.contact-form {
    margin-top: 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2575fc;
    background-color: #e0f0ff;
    outline: none;
}

.contact-form button {
    width: 100%;
    padding: 12px;
    background-color: #00072D;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #6a11cb;
}

@media screen and (max-width: 464px) {
    .contact-form bottom {
        margin-bottom: 50px;
    }
}