
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 7, 45, 1);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    margin: auto;
    width: 50%;
    margin-top: 10%;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
}

.login-form p {
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: all 0.3s ease;
}

.login-form input:focus {
    border-color: #2575fc;
    background-color: #e0f0ff;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #00072D;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #6a11cb;
}

.login-form a {
    color: #2575fc;
    text-decoration: none;
    font-size: 14px;
}

.login-form a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 414px) {
    .login-container{
        width: 100%;
    }
    
}